:root {
    --primery: #FDD12A;
    --bg: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
    
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--primery);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-logo span{
    color: var(--primery);
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primery);
}

.navbar .navbar-nav ::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primery);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primery);
}

.navbar .navbar-nav a.active{
    color: #FDD12A;
}

#hamburger-menu {
    display: none;
}


/*About Section*/
.about{
    padding: 8rem 7% 1.4rem;
}

.about h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about h2 span{
    color: var(--primery);
}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.6;
}
